// *** TYPOGRAPHY PARTIAL ***
​
body {
 font-kerning: normal;
 -moz-font-feature-settings: "kern", "liga", "clig", "calt", "dlig", "swsh";
 -ms-font-feature-settings: "kern", "liga", "clig", "calt", "dlig", "swsh";
 -webkit-font-feature-settings: "kern", "liga", "clig", "calt", "dlig", "swsh";
 font-feature-settings: "kern", "liga", "clig", "calt", "dlig", "swsh";
}
​
.small-caps {
  -moz-font-feature-settings: "c2sc", "smcp";
  -ms-font-feature-settings: "c2sc", "smcp";
  -webkit-font-feature-settings: "c2sc", "smcp";
  font-feature-settings: "c2sc", "smcp";
  letter-spacing: 0.05em;
}
​
.tabular-figures {
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum";
}
​
.oldstyle-figures {
  -moz-font-feature-settings: "onum";
  -ms-font-feature-settings: "onum";
  -webkit-font-feature-settings: "onum";
  font-feature-settings: "onum";
}
​
.lining-figures {
  -moz-font-feature-settings: "lnum";
  -ms-font-feature-settings: "lnum";
  -webkit-font-feature-settings: "lnum";
  font-feature-settings: "lnum";
}
